 */ html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   background-color: purple;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 150%;
 }
  
  /* main { 
   display: flex;
   flex-wrap: wrap;
 }  */

 header {
   padding: 20px;
   background-color: blueviolet;
   justify-content: space-between;
   display: flex;
 }

 h1 {
  color:aliceblue;
  display: flex;
  align-self: center;
 }

 nav {
  padding: 50px;
  width: 20%;
 }

  nav a {
    text-decoration: none;
    color: blue;
  }

  img {
    margin: 8px;
    width: 25%

  }

  .horiseon {
    color: aliceblue;
    font-size: 250%;
    text-align: center;
  }

 #work {
  font-size: 300%;
  justify-content: center;
  display: flex;
  text-decoration: underline;
 }

 h2 {
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
 }

  #about-me {
  text-align: center;
 }

  .p-about {
    text-align: center;
    font-size: 150%;
  }

   #Contact-Me {
    text-align: center;
   }

   footer {
    color: blue;
   }

   .wrapandtap {
    text-align:center
   }
   
   .comming {
    text-align: center;
   }